# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db
*.sqlite3

# Virtual Environment
venv/
.venv/

# Node
node_modules/

# Build files
dist/
build/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

backend/.venv/
backend/__pycache__/
backend/.env

frontend/node_modules/
frontend/dist/ss